*{
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
    width: 100%;
}

.wrap{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

    .wrap .btnNewGame{
        display: flex;
        align-items: center;
        justify-content: center; 
        height: 6vmin;
        width: 25vmin;
        font-size: 4vmin;
        color: white;
        background: transparent;
        border: 0.3vmin solid red;
        border-radius: 10px;
    }
    
    .wrap .nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: transparent;;
        height: 9vmin;
        width: 100vmin;
        font-size: 5.5vmin;
        color: white;
    }
        
        .wrap .nav .x{
            display: flex;
            align-items: flex-end;
            justify-content: center;
            height: 15vmin;
            width: 33%;
            background-color: transparent;
            box-sizing: border-box;
        }
        
        .wrap .nav .o{
            display: flex;
            align-items: flex-end;
            justify-content: center;
            height: 15vmin;
            width: 33%;
            background-color: transparent;
        }
        
        .wrap .nav .reset{
            display: flex;
            align-items: center;
            justify-content: center; 
            height: 8vmin;
            width: 25%;
            font-size: 4vmin;
            color: white;
            background: transparent;
            border: 0.3vmin solid red;
            border-radius: 10px;
        }
        
        .wrap .nav .reset:hover{
            background: rgba(63,64 ,60 , 0.6);
            cursor: pointer;
        }

    .wrap .field{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 80vmin;
        width: 80vmin;
        border-radius: 7px;
        background: rgba(63,64 ,60 , 0.6);  
        box-shadow: 5px 5px 10px 10px rgba(63,64 ,60 , 0.6)
    }

        .wrap .field .cell{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 24vmin;
            width: 24vmin;
            margin: 1.2vmin;
            border: 1px solid rgba(110, 222, 255, 0.9);
            box-sizing: border-box;
            font-size: 23vmin;
            color: white;
            cursor: pointer;
        }




.back{
    height: 100%;
    width: 100%;
    background: url(./bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}
    .back .chooseForm{
        height: 30vmin;
        width: 60vmin;
        position: relative;
        top: 20%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center
    }

    .back .chooseForm .btn{
        height: 12vmin;
        width: 25vmin;
        color: white;
        font-size: 3.4vmin;
        display: flex;
        justify-content: center;
        align-items: center;
        background:  rgba(63,64 ,60 , 0.8);  
        border-radius: 60px;
        


    }
    .back .chooseForm .btn:hover{
        background:  rgba(3,64 ,60 , 0.8);
        cursor: pointer;
    }


